# dependencies
/node_modules

# build output
/dist

# testing
/coverage
# cached PocketBase binary for integration tests
/.pb-test

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env
.env.local

# typescript
*.tsbuildinfo

# PocketBase
pocketbase/pb_data

# backup databases
*.db
docker-compose.local.yml

# direnv
.direnv
